*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter",sans-serif;
}
body{
    background-color: #FF8C00;
    font-family: "roboto",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}
header{
    padding: 20px;
    text-align: center;
    color: #FFF;
}
h1{
    font-size: 35px;
}
fieldset{
    font-size: 20px;
}
fieldset > button{
    background-color: #FFFF00;
}